<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
</head>
<body>   

    <div class="navbar">
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("home", "Index", "MikesJoint")
            </li>
            <li>
                @Html.ActionLink("menu", "Menu", "MikesJoint")
            </li>
            <li>
                @Html.ActionLink("order", "Order", "MikesJoint")
            </li>
        </ul>
    </div>
    
@RenderBody()
</body>
</html>
